.car-card {

  border: 1px solid #ddd;

  border-radius: 15px;

  overflow: hidden;

  width: 320px;

  background: white;

  box-shadow: 0 4px 10px rgba(0,0,0,0.1);

}



.car-card img {

  width: 100%;

  height: 220px;

  object-fit: cover;

}



.car-info {

  padding: 20px;

}



.car-info h2 {

  margin-bottom: 15px;

}



.price {

  font-size: 22px;

  font-weight: bold;

}



.card-buttons {

  display: flex;

  gap: 10px;

  margin-top: 20px;

}



.card-buttons button {

  padding: 8px 12px;

  border: none;

  border-radius: 5px;

  cursor: pointer;

}